
body {
    background-color: #00b3e6;
    text-align: center;
  }

.button {
    height: 100;
    width: 500px;
    text-align: center;
    font-size: 80px;
    font-style: italic;
    font-family: serif;
  }
